.jumbotron{
	background-image: linear-gradient(to right, rgba(248, 249, 250, .7), rgba(248, 249, 250, .3)),
	url(../img/bgmain.jpg);
	background-size: cover;
}
/*.list-group-item {
	border: 1px dotted rgba(246, 0, 191, 0.2);
}
.list-group-item:hover {
	background: rgba(246, 0, 191, 0.1)
}*/
.carousel-inner {
	padding: 2px 30px;
	display: inline-block;
	left: 5px;
}
.carousel {
	width: 70%;
	border: solid 1px #CED4DA;
	border-radius: 5px;
}
.carousel-control-next,
.carousel-control-prev {
	width: 5%;
}
.img_baby {
	height: 250px;
	border: solid 1px #CED4DA;
	border-radius: 5px;
	margin-right: 14px;
}
.prev_next_btn {
	width: 50%;
}